/* Universal styles */

body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
  background-color: black;
  margin: 0;
}

a {
  color: seashell;
}
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  line-height: 0;
}


/* Header */

.header {
  display: flex;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-left: 0;
  top: 0;
}

.header nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.header span {
  margin-left: 20px;
}

.logo {
  height: 50px;
  margin-left: 10px;
  padding: 9px;
}

/* Mission section */

#mission {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  position: relative;
  top: 69px;
  margin: auto;
  display: flex;
  align-items: center;
}

#ourmission {
  background-color: black;
}


/* Teas section */

#teas {
  margin: auto;
  position: relative;
  top: 150px;
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.features {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}

.feature-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  width: 300px;
}

.feature-photo {
  height: 200px;
  width: 300px;
  padding: 0px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-caption {
  margin: 0px;
  padding: 0px;
  line-height: 0;
  display: inline-block;
}

/*Feature tea photos*/

#berry {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg');
}

#rum {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-spiced-rum.jpg');
}

#donut {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-donut.jpg');
}

#myrtle {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-myrtle-ave.jpg');
}

#bedford {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-bedford-bizarre.jpg');
}


/* Location section */

#locations {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-size: cover;
  position: relative;
  top: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#locations .headline {
  display: inline-block;
  line-height: 0;
  text-align: center;
  position: relative;
  top: 60px;
  margin: 0;
}
.stores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 980px;
  height: 300px;
  margin: auto;
}
.address {
  height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  }

footer {
  position: relative;
  width: inherit;
  top: 200px;
  text-align:center;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  }

footer #info {
  height: 200px;
}

footer #copywright {
    text-align: left;
    margin-left: 20px;
  }
